main/default/flows/DY_RTF_NEW_TEST.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>aSSIGN</name>
        <label>aSSIGN</label>
        <locationX>1146</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_INfo.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TEst</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_test</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Test_1</name>
        <label>Assign Name</label>
        <locationX>1410</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_test</targetReference>
        </connector>
    </assignments>
    <interviewLabel>DY RTF NEW TEST {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DY RTF NEW TEST</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>882</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Test_1</targetReference>
        </faultConnector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_INfo</name>
        <label>Get Case INfo</label>
        <locationX>882</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>882</locationX>
        <locationY>587</locationY>
        <faultConnector>
            <targetReference>aSSIGN</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OwnerId</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Case_INfo</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Subflow_test</name>
        <label>Subflow test</label>
        <locationX>1146</locationX>
        <locationY>803</locationY>
        <flowName>DY_Subflow_1</flowName>
    </subflows>
</Flow>
